@use '@material/theme' with (
  $primary: rgb(16, 29, 85),
  $secondary: rgb(41, 227, 238),
  $surface: rgb(255, 255, 255),
  $background: rgb(229, 229, 229)
);
@use "@material/typography" with (
    $styles-headline1: (font-size: 38px),
    $styles-headline2: (font-size: 28px),
    $styles-headline3: (font-size: 22px),
    $styles-headline4: (font-size: 18px),
    $styles-headline5: (font-size: 16px),
    $styles-headline6: (font-size: 13px)
);
@use "@material/elevation" as elevation;
@use "@material/shape" as radius;
@use "@material/button";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/drawer/mdc-drawer";
@use "@material/list/mdc-list";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@use "@material/fab/mdc-fab";
@use "@material/card";
@use "@material/linear-progress";
@use "@material/linear-progress/mdc-linear-progress";
@use '@material/circular-progress';
@use "@material/circular-progress/mdc-circular-progress";
@use "@material/animation";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@include card.core-styles;
@include button.core-styles;
@include icon-button.core-styles;
@include textfield.core-styles;
@import "@material/typography/mdc-typography";
@import "@material/elevation/mdc-elevation";
@import "@material/layout-grid/mdc-layout-grid";
//Link other files
@import "./post.scss";
@import "./markdown.scss";

$mdc-shape-small-component-radius: 4px;
$mdc-shape-medium-component-radius: 8px;
$mdc-shape-large-component-radius: 0px;

//Responsive Layouts!
//Default is large devices
//Small devices
@mixin s {
    @media (max-width: 599px) {
        @content;
    }
}

//Medium devices
@mixin m {
    @media (min-width: 600px) and (max-width: 1023px) {
        @content;
    }
}

:root {
    --mdc-theme-primary: rgb(16, 29, 85);
    --mdc-theme-on-primary: rgb(255, 255, 255);
    --mdc-theme-secondary: rgb(41, 227, 238);
    --mdc-theme-on-secondary: rgb(0, 0, 0);
    --mdc-theme-surface: rgb(255, 255, 255);
    --mdc-theme-on-surface: rgb(0, 0, 0);
    --mdc-theme-background: rgb(229, 229, 229);
}

body {
    @include theme.prop(background-color, background);
    margin: 0;
}

body * {
    unicode-bidi: plaintext;
}

.Stent {
    width: 100vw;
}


.PostsContainer {
    position: relative;
    top: 112px;
    @include s {
        top: 104px;
    }
    display: none;
    height: 200vh;
}

.ContentContainer {
    position: relative;
    top: 64px;
    @include s {
        top: 56px;
    }
}

.mdc-card__primary-action * {
    pointer-events: none;
}

.Posts {
    margin-top: 50px;
}

///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////LOGIN PAGE//////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////

.LoadingPage {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .Card {
        width: 100%;
        max-width: 500px;
        overflow: hidden;
        .mdc-linear-progress {
            @include linear-progress.bar-color(secondary);
        }
        transition: all 0.5s linear;
        .Content {
            padding: 0.5rem 1rem;
            .Title {
                @extend .mdc-typography--headline4;
            }
            .Text {
                color: rgba(0,0,0,.54);
                @extend .mdc-typography--body2;
            }
        }
        footer {
            .Button {
                height: 36px;
                --mdc-theme-primary: #FF4500;
            }
        }
    }

}

///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////DRAWER////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////

$barsHeight: 55px;
.Drawer {
    border: none;
    @include theme.prop(background, surface);
    .CommunityBar {
        position: fixed;
        display: flex;
        align-items: center;
        background: linear-gradient(180deg, #323339 -20%, transparent);
        @include theme.prop(color, on-primary);
        height: $barsHeight;
        z-index: inherit;
        width: inherit;
        .CommunityIcon {
            border: 1px solid #fff;
            border-radius: 50%;
            transition: 0.5s;
            width: 36px;
            height: 36px;
            margin: 0px 12px 0px 10px;
            cursor: pointer;
        }
        .CommunityIcon:hover {
            border-radius: 5px;
        }
        .CommunityName {
            @extend .mdc-typography--subtitle1;
            cursor: pointer;
        }
        .CommunityName:hover {
            text-decoration: underline;
        }
    }
    .CommunityBar2 {
        @include theme.prop(background, primary);
    }
    .mdc-drawer__content {
        height: calc(100% - #{$barsHeight});
        .CommunityBanner {
            width: 100%;
            display: block;
            min-height: #{$barsHeight};
        }
        div {
            height: calc(100% - #{$barsHeight});
        }
    }
    .ProfileBar {
        @include theme.prop(background-color, primary);
        @include theme.prop(color, on-primary);
        display: flex;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: inherit;
        height: $barsHeight;
        .UserAvatar {
            border: 1px solid #fff;
            border-radius: 50%;
            transition: 0.5s;
            width: 36px;
            height: 36px;
            margin: 0px 12px 0px 10px;
            cursor: pointer;
        }
        .UserAvatar:hover {
            border-radius: 5px;
        }
        .UserName {
            @extend .mdc-typography--subtitle1;
            cursor: pointer;
        }
        .UserName:hover {
            text-decoration: underline;
        }
    }
}

///////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////DRAWER LISTS/////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////

:not(.mdc-list-item--disabled).mdc-list-item--activated .mdc-list-item__ripple::before, :not(.mdc-list-item--disabled).mdc-list-item--activated .mdc-list-item__ripple::after {
    @include theme.prop(background-color, secondary);
}

.mdc-drawer .mdc-list-item {
    color: var(--mdc-theme-on-surface);
    opacity: 0.87;
}

.mdc-drawer .mdc-list-item--activated {
    @include theme.prop(color, secondary);
    opacity: 1;
}

///////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////TOP APP BAR//////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////

.mdc-top-app-bar__title {
    font-size: 20px !important;
    @include theme.prop(color, on-primary);
}

///////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////TAB BAR////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////

.mdc-tab .mdc-tab__text-label {
    color: var(--mdc-theme-on-primary);
    opacity: 0.6;
}

.mdc-tab .mdc-tab__icon {
    color: var(--mdc-theme-on-primary);
    opacity: 0.54;
}

.mdc-tab--active .mdc-tab__text-label, .mdc-tab--active .mdc-tab__icon {
    color: var(--mdc-theme-on-primary);
    opacity: 1;
}

.mdc-tab-indicator .mdc-tab-indicator__content--underline {
    border-color: var(--mdc-theme-on-primary);
}

.mdc-tab__ripple::before, .mdc-tab__ripple::after {
    background-color: var(--mdc-theme-on-primary);
}

///////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////FAB//////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////

.mdc-fab {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.mdc-circular-progress {
    @include circular-progress.color(secondary);
    margin: auto;
    display: block;
}


.InputsContainer {
    width: 100%;
    max-width: 700px;
    margin: auto;
    .mdc-text-field {
        width: 100%;
    }
}

.mde-ultimate {
    height: 600px !important;
    margin: 10px 0 0 0;
}


/*.Home {
    display: none !important;
}*/

/*.mdc-elevation--z0 {
    background-image: linear-gradient(to top, #121212eb, #121212eb);
}

.mdc-elevation--z1 {
    background-image: linear-gradient(to top, #1e1e1eeb, #1e1e1eeb);
}

.mdc-elevation--z2 {
    background-image: linear-gradient(to top, #232323eb, #232323eb);
}

.mdc-elevation--z3 {
    background-image: linear-gradient(to top, #252525eb, #252525eb);
}

.mdc-elevation--z4 {
    background-image: linear-gradient(to top, #272727eb, #272727eb);
}

.mdc-elevation--z6 {
    background-image: linear-gradient(to top, #2c2c2ceb, #2c2c2ceb);
}

.mdc-elevation--z8 {
    background-image: linear-gradient(to top, #2e2e2eeb, #2e2e2eeb);
}

.mdc-elevation--z12 {
    background-image: linear-gradient(to top, #333333eb, #333333eb);
}

.mdc-elevation--z16 {
    background-image: linear-gradient(to top, #363636eb, #363636eb);
}
.mdc-elevation--z24 {
    background-image: linear-gradient(to top, #383838eb, #383838eb);
}*/