.PostCard {
    width: 100%;
    max-width: 700px;
    margin: auto;
    header {
        .UserAvatar {
            border: 1px solid #fff;
            border-radius: 50%;
            transition: 0.5s;
            width: 36px;
            height: 36px;
            margin: 0 10px 0 6px;
        }
        .UserAvatar:hover {
            border-radius: 5px;
        }
        .Container {
            * {
                line-height: inherit !important;
            }
            .UserName {
                @extend .mdc-typography--subtitle1;
            }
            .UserName:hover {
                text-decoration: underline;
            }
            .Date {
                color: rgba(0, 0, 0, 0.6);
                @extend .mdc-typography--caption;
            }
        }
    }
    .Content {
        max-width: inherit;
        padding: 5px;
        title {
            display: block;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            text-align: center;
            @extend .mdc-typography--subtitle1;
        }
        div {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            max-height: 500px;
            overflow: hidden;
        }
        div:empty { 
            display: none;
        }
    }
    //footer {}
}

.demo-cell {
    background: rgba(0,0,0,.2);
    height: 100px;
}