.PostCardPreview {
    .Main {
        max-height: 430px;
    }
}
.PostCard {
    width: 100%;
    max-width: 700px;
    margin: auto;
    header {
        .UserAvatar {
            border-radius: 50%;
            transition: 0.5s;
            width: 36px;
            height: 36px;
            margin: 0 10px 0 6px;
        }
        .UserAvatar:hover {
            border-radius: 5px;
        }
        .Container {
            * {
                line-height: initial !important;
            }
            .Name {
                @extend .mdc-typography--subtitle1;
            }
            .Name:hover {
                text-decoration: underline;
            }
            .Info {
                color: rgba(0, 0, 0, 0.6);
                @extend .mdc-typography--caption;
            }
        }
    }
    .Main {
        max-width: inherit;
        padding: 5px;
        title {
            display: block;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            text-align: center;
            @extend .mdc-typography--subtitle1;
        }
        .Content {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }
        .Content:empty { 
            display: none;
        }
        .ContentCrossPost {
            padding: 1em;
        }
    }
    //footer {}
}